@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply min-h-screen text-black font-roboto;
}

.mobile-menu {
	.active {
		@apply border-l-[5px] border-l-primary-dark bg-secondary;
	}

	li {
		@apply px-4 py-4 transition-all duration-200 ease-in-out;

		&:hover {
			@apply bg-secondary;
		}
	}
}

.desktop-menu {
	.active {
		@apply relative after:content-[''] after:absolute after:-bottom-1 after:left-0 after:w-full after:h-[3px] after:bg-primary-dark after:origin-center;
	}

	li {
		@apply relative after:ease-in-out after:duration-300 after:transition-all;

		&:hover {
			@apply bg-secondary after:content-[''] after:absolute after:-bottom-1 after:left-0 after:w-full after:h-[3px] after:bg-primary-dark;
		}
	}
}

.cart-quantity::before {
	content: attr(data-bbl);
	unicode-bidi: plaintext;
	line-height: 1.1;
	transform: translate3d(50%, -50%, 0);
	max-height: 20px;
	min-width: 24px;
	min-height: 24px;
	@apply absolute right-1 text-sm text-center text-white rounded-full bg-primary-dark top-3 px-[5px] py-[2px];
}

.cart-listing {
	@apply lg:grid border-gray-300 border-y grid-cols-[1.5fr_0.5fr_0.5fr] max-w-[1200px] px-20 py-10 mx-auto;
}

.cart-checkout {
	grid-column-start: 2;
	grid-column-end: 4;
}
